<html>
<head>
</head>
<body>
<% 
  # FIXME This is generally awful
  
  first_meetup = sorted_events.first
  first_day = first_meetup[:date]
  start_of_week = get_start_of_week(first_day)
      
  days = (0..4).map { |d| start_of_week + d*DAY }
%>
<% for day in days %>
  <h1><%= day.strftime('%A %-d/%m/%Y') %></h1>
  <% day_events = sorted_events.select { |event| event[:date] == day } %>
  <% if day_events.empty? %>
    <p>(none)</p>
  <% else %>
    <% day_events.group_by { |event| event[:start_time] }.each do |time, time_events| %>
      <h2><%= time.strftime('%-l:%M %P') %></h2>
      <% for event in time_events %>
        <div class="meetup">
            <h3><a href="<%= event[:event_url] %>"><%= event[:event_name] %></a></h3>
            <div><%= event[:group_name] %></div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</body>
</html>
